.docs-sidebar::before {
    content: "";
    display: block;
    width: 180px;
    height: 100px;
    margin: 1rem auto 0.5rem auto;

    background-image: url("lowlevelfem-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
